body{
    background-color: aliceblue;

}

.bonus{
    background-color: pink;
}

.zara{
    background-color: black;
    color: white;
}

.hagkaup{
    background-color: orange;
}

.olis{
    background-color: green;
}

.eldumrett{
    background-color: lightgreen;
}

.storkaup{
    background-color: red;
}
